# TMDb API Anahtarı / TMDb API Key
# API anahtarınızı buradan alabilirsiniz / Get your API key from:
# https://www.themoviedb.org/settings/api
TMDB_API_KEY= your_api_key

# Flask Gizli Anahtar / Flask Secret Key
# Güvenli bir anahtar kullanın / Use a strong secret key
FLASK_SECRET_KEY=your_secret_key_here
